.hcw-text-center { text-align: center; }
.hcw-text-left { text-align: left; }
.hcw-text-justify { text-align: justify; }
.hcw-text-right { text-align: right; }


.hcw-painel {
    padding: 16px 16px;
    margin: 1em;
}


hr { border: 1px solid black; }
code { padding: 5px; border-radius: 7px; }
.hcw-border-radius { border-radius: 7px; }




.hcw-card-1         { box-shadow: 1px 5px 5px 1px #000; margin: 1em; }
.hcw-card-1 a       { text-decoration: none; }
.hcw-card-1:hover   {  }
.hcw-card-title     { padding: 5px; text-align: center; font-size: 20px; font-weight: bold;  }
.hcw-card-image     { padding: 5px; text-align: center; }
.hcw-card-image img { width: 50%; height: 50%; }
.hcw-card-footer    { padding: 16px; }

.hcw-row-flex { display: flex; flex-wrap: wrap; justify-content: space-around; }
.hcw-column-flex { width: 40vh; }


/* Menu dentro do cabeçalho */
header nav {
    display: flex; /* Define como  flex o display do menu */
    justify-content: flex-start; /* Define como os itens alinhados à esquerda */
    padding: 1em; /* Da um espaçamento de 1em para a barra de menu */
}


header nav ul {
    list-style: none; /* Tira o estilo de lista para os itens */
    margin: 0; /* Tira toda a margem da lista. */
    padding: 0; /* Tira todo o espaçamento para dentro. */
    display: flex; /* Define como  flex o display da lista */
}

header nav ul li a {
    position: relative; /* Define como uma posição relativa para cada link */
    display: inline-block; /* Define como inline-bloc o display de cada link */
    padding: 1em; /* Da um espaçamento de 1em para cada link */
    text-decoration: none; /* Tira a decoração de cada item */
}

/* Menu para telas até 800px */
@media all and (max-width: 800px){
    header nav ul {
        flex-grow: 1; /* Define que o item crescerá em relação aos outros itens */
        justify-content: space-between; /* Distribui uniformemente na linha os itens */
    }
}

/* Menu para telas até 600px */
@media all and (max-width: 600px){
    header nav ul {
        flex-direction: column; /* inverte de linha para coluna o sentido */
        align-items: center; /* Alinha os itens ao centro: */
        width:  100%; /* Ocupa 100% da tela */
    }
}


