.hcw-text-center { text-align: center; }
.hcw-text-left { text-align: left; }
.hcw-text-justify { text-align: justify; }
.hcw-text-right { text-align: right; }


.hcw-painel {
    padding: 16px 16px;
    margin: 1em;
}



code { padding: 5px; border-radius: 7px; }
.hcw-border-radius { border-radius: 7px; }

nav {
    display: flex;
    justify-content: flex-start;
    padding: 1em;
    
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a {
    position: relative;
    text-decoration: none;  
    display: inline-block;
    padding: 1em;
    
}


.hcw-card-1         { box-shadow: 1px 5px 5px 1px #000; margin: 1em; }
.hcw-card-1 a       { text-decoration: none; }
.hcw-card-1:hover   {  }
.hcw-card-title     { padding: 5px; text-align: center; font-size: 20px; font-weight: bold;  }
.hcw-card-image     { padding: 5px; text-align: center; }
.hcw-card-image img { width: 50%; height: 50%; }
.hcw-card-footer    { padding: 16px; }

.hcw-row-flex { display: flex; flex-wrap: wrap; justify-content: space-around; }
.hcw-column-flex { width: 40vh; }